services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped

    env_file:
      - .env

    ports:
      - "5678:5678"

    volumes:
      - ./data:/home/node/.n8n
      - ./local-files:/home/node/.n8n/local-files

    user: "1000:1000"
